In [39]:
# Import libraries Data

import pandas as pd
import numpy as np
from sklearn import linear_model

In [40]:
#Load EPS Data

xls = pd.ExcelFile("61B7DC10.xlsx")
EPS_INFO = xls.parse(1)
EPS_INFO.shape

(11861, 7)

In [41]:
EPS_INFO.head()

,Unnamed: 0,quarter,Ticker,Company,Name,Type,EstimatedValue
0,0,fq1-2020,AMZN,Amazon.com Inc.,AMZN Reported Earnings,Generic,0.25
1,1,fq1-2020,AMZN,Amazon.com Inc.,Estimize Consensus,Generic,0.33
2,2,fq1-2020,AMZN,Amazon.com Inc.,Estimize Mean,Generic,0.34
3,3,fq1-2020,AMZN,Amazon.com Inc.,Wall Street Consensus,Generic,0.31
4,4,fq1-2020,AMZN,Amazon.com Inc.,Flanner,Analyst,0.25

In [42]:
EPS_INFO=EPS_INFO.drop('Unnamed: 0', axis=1)

In [43]:
EPS_INFO.head()

,quarter,Ticker,Company,Name,Type,EstimatedValue
0,fq1-2020,AMZN,Amazon.com Inc.,AMZN Reported Earnings,Generic,0.25
1,fq1-2020,AMZN,Amazon.com Inc.,Estimize Consensus,Generic,0.33
2,fq1-2020,AMZN,Amazon.com Inc.,Estimize Mean,Generic,0.34
3,fq1-2020,AMZN,Amazon.com Inc.,Wall Street Consensus,Generic,0.31
4,fq1-2020,AMZN,Amazon.com Inc.,Flanner,Analyst,0.25

In [44]:
EPS_INFO.describe()

       EstimatedValue
count    11861.000000
mean         1.515322
std          1.094690
min         -1.590000
25%          0.760000
50%          1.240000
75%          2.120000
max          5.820000

In [45]:
# Check for missing values

EPS_INFO.isnull().sum()

quarter           0
Ticker            0
Company           0
Name              0
Type              0
EstimatedValue    0
dtype: int64

In [46]:
print(EPS_INFO['quarter'].unique()) 
print(EPS_INFO['Ticker'].unique()) 
print(EPS_INFO['Company'].unique()) 
print(EPS_INFO['Name'].unique()) 
print(EPS_INFO['Type'].unique())

['fq1-2020' 'fq2-2020' 'fq3-2020' 'fq4-2020' 'fq1-2021' 'fq2-2021'
 'fq3-2021' 'fq4-2021' 'fq1-2022' 'fq2-2022' 'fq3-2022' 'fq4-2022']
['AMZN' 'AAPL' 'MSFT' 'GOOGL' 'TSLA' 'JNJ' 'PG' 'NVDA' 'CSCO' 'BABA' 'HD'
 'BIDU' 'WMT' 'CRM' 'LULU' 'TGT' 'PANW' 'ADBE' 'VMW' 'MU' 'NKE' 'ORCL'
 'BB' 'HPQ' 'COST' 'AMAT' 'BAC' 'CVX' 'AMGN']
['Amazon.com Inc.' 'Apple Inc.' 'Microsoft Corporation' 'Alphabet Inc.'
 'Tesla Inc.' 'Johnson & Johnson' 'Procter & Gamble Co.'
 'NVIDIA Corporation' 'Cisco Systems, Inc.' 'Alibaba Group Holding Ltd.'
 'The Home Depot, Inc.' 'Baidu, Inc.' 'Wal-Mart Stores Inc.'
 'Salesforce.com' 'Lululemon Athletica Inc.' 'Target Corp.'
 'Palo Alto Networks, Inc.' 'Adobe Systems Inc.' 'VMware, Inc.'
 'Micron Technology Inc.' 'Nike Inc.' 'Oracle Corporation' 'BlackBerry'
 'Hewlett-Packard Company' 'Costco Wholesale Corporation'
 'Applied Materials Inc.' 'Bank of America Corporation'
 'Chevron Corporation' 'Amgen Inc.']
['AMZN Reported Earnings' 'Estimize Consensus' 'Estimize Mean' ...
 'Analyst_9282413' 'Analyst_6073507' 'KJ Shane']
['Generic' 'Analyst']

In [47]:
print(EPS_INFO['quarter'].value_counts()) 
print(EPS_INFO['Ticker'].value_counts()) 
print(EPS_INFO['Company'].value_counts()) 
print(EPS_INFO['Name'].value_counts())
print(EPS_INFO['Type'].value_counts())

quarter
fq1-2020    1029
fq3-2020    1019
fq4-2020    1017
fq2-2020    1012
fq3-2021     982
fq4-2021     980
fq2-2021     978
fq2-2022     978
fq3-2022     978
fq1-2021     976
fq4-2022     970
fq1-2022     942
Name: count, dtype: int64
Ticker
PG       519
MU       420
ADBE     420
CRM      420
AMAT     419
CSCO     419
LULU     416
ORCL     416
WMT      409
AAPL     408
BAC      408
COST     408
BB       408
NKE      408
AMZN     408
HD       408
BABA     408
NVDA     408
TSLA     408
GOOGL    408
MSFT     408
BIDU     407
JNJ      407
CVX      403
VMW      399
HPQ      395
PANW     385
TGT      378
AMGN     333
Name: count, dtype: int64
Company
Procter & Gamble Co.            519
Micron Technology Inc.          420
Adobe Systems Inc.              420
Salesforce.com                  420
Applied Materials Inc.          419
Cisco Systems, Inc.             419
Lululemon Athletica Inc.        416
Oracle Corporation              416
Wal-Mart Stores Inc.            409
Apple Inc.                      408
Bank of America Corporation     408
Costco Wholesale Corporation    408
BlackBerry                      408
Nike Inc.                       408
Amazon.com Inc.                 408
The Home Depot, Inc.            408
Alibaba Group Holding Ltd.      408
NVIDIA Corporation              408
Tesla Inc.                      408
Alphabet Inc.                   408
Microsoft Corporation           408
Baidu, Inc.                     407
Johnson & Johnson               407
Chevron Corporation             403
VMware, Inc.                    399
Hewlett-Packard Company         395
Palo Alto Networks, Inc.        385
Target Corp.                    378
Amgen Inc.                      333
Name: count, dtype: int64
Name
Estimize Mean            351
Wall Street Consensus    351
Estimize Consensus       351
Bill                     219
Rob Ford                 152
                        ...
TheMummy82                 1
Andrei_Sota                1
Analyst_4155480            1
Analyst_4037185            1
KJ Shane                   1
Name: count, Length: 2928, dtype: int64
Type
Analyst    10351
Generic     1510
Name: count, dtype: int64

In [48]:
one_hot_encoded_data = pd.get_dummies(EPS_INFO, columns = ['quarter', 'Ticker','Company','Name','Type']) 
print(one_hot_encoded_data)

       EstimatedValue  quarter_fq1-2020  quarter_fq1-2021  quarter_fq1-2022  \
0                0.25              True             False             False
1                0.33              True             False             False
2                0.34              True             False             False
3                0.31              True             False             False
4                0.25              True             False             False
...               ...               ...               ...               ...
11856            4.34             False             False             False
11857            4.35             False             False             False
11858            4.35             False             False             False
11859            4.35             False             False             False
11860            4.46             False             False             False

       quarter_fq2-2020  quarter_fq2-2021  quarter_fq2-2022  quarter_fq3-2020  \
0                 False             False             False             False
1                 False             False             False             False
2                 False             False             False             False
3                 False             False             False             False
4                 False             False             False             False
...                 ...               ...               ...               ...
11856             False             False             False             False
11857             False             False             False             False
11858             False             False             False             False
11859             False             False             False             False
11860             False             False             False             False

       quarter_fq3-2021  quarter_fq3-2022  ...  Name_yorkquay  Name_zealjeung  \
0                 False             False  ...          False           False
1                 False             False  ...          False           False
2                 False             False  ...          False           False
3                 False             False  ...          False           False
4                 False             False  ...          False           False
...                 ...               ...  ...            ...             ...
11856             False             False  ...          False           False
11857             False             False  ...          False           False
11858             False             False  ...          False           False
11859             False             False  ...          False           False
11860             False             False  ...          False           False

       Name_zekeingram  Name_zimmerm66  Name_zivicirl  Name_zmzhu  \
0                False           False          False       False
1                False           False          False       False
2                False           False          False       False
3                False           False          False       False
4                False           False          False       False
...                ...             ...            ...         ...
11856            False           False          False       False
11857            False           False          False       False
11858            False           False          False       False
11859            False           False          False       False
11860            False           False          False       False

       Name_zspinek  Name_å²æ›¸é›…  Type_Analyst  Type_Generic
0             False           False         False          True
1             False           False         False          True
2             False           False         False          True
3             False           False         False          True
4             False           False          True         False
...             ...             ...           ...           ...
11856         False           False          True         False
11857         False           False          True         False
11858         False           False          True         False
11859         False           False          True         False
11860         False           False          True         False

[11861 rows x 3001 columns]

In [50]:
# define independent and dependent variable
#from sklearn.model_selection import train_test_split

X = one_hot_encoded_data.drop('EstimatedValue',axis=1)
y = EPS_INFO['EstimatedValue']

In [51]:
X.head()

,quarter_fq1-2020,quarter_fq1-2021,quarter_fq1-2022,quarter_fq2-2020,quarter_fq2-2021,quarter_fq2-2022,quarter_fq3-2020,quarter_fq3-2021,quarter_fq3-2022,quarter_fq4-2020,...,Name_yorkquay,Name_zealjeung,Name_zekeingram,Name_zimmerm66,Name_zivicirl,Name_zmzhu,Name_zspinek,Name_å²æ›¸é›…,Type_Analyst,Type_Generic
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [52]:
y.head()

0    0.25
1    0.33
2    0.34
3    0.31
4    0.25
Name: EstimatedValue, dtype: float64

In [62]:
import pandas as pd
from sklearn import linear_model

# Assuming X and y are your features and target variable as Pandas DataFrames
#subset_size = 10000  # Adjust this based on your available memory

# Create subsets
#X_subset = X_reset.iloc[:subset_size, :]
#y_subset = y_reset.iloc[:subset_size]

# Run the regression model on the subset
lm = linear_model.LinearRegression()
model = lm.fit(X, y)

In [63]:
# This is the R² score of our model. 95.3% of variance of the predictions have been explained by our model.
lm.score(X,y)

0.7972493243608243

In [64]:
# Adding pridicted EPS to our dataset. 
# As you can see our model is able to better predict as compared with Estimize Consensus and Wall Street Consensus overall.

EPS_INFO["EPS_prediction"] = lm.predict(X)
EPS_INFO

,quarter,Ticker,Company,Name,Type,EstimatedValue,EPS_prediction
0,fq1-2020,AMZN,Amazon.com Inc.,AMZN Reported Earnings,Generic,0.25,0.132080
1,fq1-2020,AMZN,Amazon.com Inc.,Estimize Consensus,Generic,0.33,-0.014404
2,fq1-2020,AMZN,Amazon.com Inc.,Estimize Mean,Generic,0.34,0.180908
3,fq1-2020,AMZN,Amazon.com Inc.,Wall Street Consensus,Generic,0.31,0.047119
4,fq1-2020,AMZN,Amazon.com Inc.,Flanner,Analyst,0.25,-0.360107
...,...,...,...,...,...,...,...
11856,fq4-2022,AMGN,Amgen Inc.,LA_Engineer,Analyst,4.34,4.471924
11857,fq4-2022,AMGN,Amgen Inc.,Mike Rietbrock,Analyst,4.35,4.384033
11858,fq4-2022,AMGN,Amgen Inc.,Alethia Young,Analyst,4.35,4.483643
11859,fq4-2022,AMGN,Amgen Inc.,Real2022,Analyst,4.35,4.083252
11860,fq4-2022,AMGN,Amgen Inc.,bknapp,Analyst,4.46,4.239502