In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Using cached PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.0-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
from sqlalchemy import create_engine
from urllib.parse import quote

# Replace 'your_username', 'your_password', 'your_host', and 'your_database' with your MySQL credentials
username = 'root'
password = 'bvb1801'
host = '127.0.0.1'
database = 'msa8040'

# URL-encode the password
password = quote(password)

# Create the engine
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

In [9]:
df1 = pd.read_csv('EPSDATA.csv')
df2 = pd.read_csv('COMPANYDATA.csv')
df3 = pd.read_csv('ANALYSTINFODATA.csv', encoding='latin1')

In [10]:
df1.to_sql('EPSDATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

C:\Users\BVB\AppData\Local\Temp\ipykernel_19108\3956606583.py:1: UserWarning: The provided table name 'EPSDATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df1.to_sql('EPSDATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

11861

In [11]:
df2.to_sql('COMPANYDATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

C:\Users\BVB\AppData\Local\Temp\ipykernel_19108\1421973142.py:1: UserWarning: The provided table name 'COMPANYDATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql('COMPANYDATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

352

In [12]:
df3.to_sql('ANALYSTINFODATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

C:\Users\BVB\AppData\Local\Temp\ipykernel_19108\3514334223.py:1: UserWarning: The provided table name 'ANALYSTINFODATA' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df3.to_sql('ANALYSTINFODATA', con = engine, if_exists = 'append', chunksize = 1000, index=False)

3791